backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"
media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow
collections:
  - name: "page"
    label: "Page"
    folder: "src/pages/page"
    create: true
    slug: "{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "page",
        }
      - {
          label: Menu,
          required: false,
          name: menu,
          widget: "select",
          options: ["/service", "/project", "/about"],
          default: "/project",
        }
      - { label: "slug", name: "slug", widget: "string" }
      - { label: "title", name: "title", widget: "string" }
      - {
          label: "Featured",
          required: false,
          name: "featured",
          widget: "boolean",
        }
      - { label: "Featured image", name: "featuredimage", widget: "image" }
      - {
          label: "Featured image alt",
          name: "featuredimage_alt",
          widget: "string",
        }
      - {
          label: "Images",
          required: false,
          name: images,
          widget: list,
          fields:
            [
              { label: Image, name: image, widget: image },
              {
                label: "Index",
                name: "index",
                widget: "number",
                min: "1",
                step: "1",
              },
              {
                label: "Image alt",
                required: false,
                name: "image_alt",
                widget: "string",
              },
              {
                label: "Image label",
                required: false,
                name: "imagelabel",
                widget: "string",
              },
            ],
        }
      - {
          label: Review,
          required: false,
          name: review,
          widget: list,
          fields:
            [
              { label: Quote, name: quote, widget: string },
              { label: Author, name: author, widget: string },
              {
                label: Date,
                name: Date,
                widget: datetime,
                dateFormat: "MMMM YYYY",
              },
              { label: Location, name: location, widget: string },
            ],
        }
      - {
          label: Rating,
          required: false,
          name: rating,
          widget: list,
          fields:
            [
              {
                label: Rating,
                name: rating,
                widget: number,
                valueType: "int",
                min: 1,
                max: 5,
                step: 1,
              },
              { label: Author, name: author, widget: string },
              {
                label: Date,
                name: Date,
                widget: datetime,
                dateFormat: "MMMM YYYY",
              },
              { label: Location, name: location, widget: string },
            ],
        }
      - {
          label: "Main content",
          required: false,
          name: "body",
          widget: "markdown",
        }
      - { label: "Tags", required: false, name: "tags", widget: "list" }
      - {
          label: "Location",
          required: false,
          name: location,
          widget: list,
          fields:
            [
              {
                label: "Location",
                required: false,
                name: "location",
                widget: map,
                type: Point,
              },
              { label: "Place name", name: placename, widget: string },
            ],
        }
      - {
          label: "Route",
          required: false,
          name: routesServed,
          widget: list,
          fields:
            [
              {
                label: "Route",
                required: false,
                name: "route",
                widget: map,
                type: LineString,
              },
              { label: "Route name", name: routename, widget: string },
            ],
        }
      - {
          label: "Area Served",
          required: false,
          name: areaServed,
          widget: list,
          fields:
            [
              {
                label: "Area",
                required: false,
                name: "area",
                widget: map,
                type: Polygon,
              },
              { label: "Area name", name: areaname, widget: string },
            ],
        }
  - name: "post"
    label: "Post"
    folder: "src/pages/post"
    create: true
    slug: "{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "post",
        }
      - { label: "slug", name: "slug", widget: "string" }
      - { label: "title", name: "title", widget: "string" }
      - {
          label: "Featured",
          required: false,
          name: "featured",
          widget: "boolean",
        }
      - { label: "Featured image", name: "featuredimage", widget: "image" }
      - {
          label: "Featured image alt",
          name: "featuredimage_alt",
          widget: "string",
        }
      - { label: "Before", required: false, name: "before", widget: "image" }
      - {
          label: "Before alt",
          required: false,
          name: "before_alt",
          widget: "string",
        }
      - {
          label: Review,
          required: false,
          name: review,
          widget: list,
          fields:
            [
              { label: Quote, name: quote, widget: string },
              { label: Author, name: author, widget: string },
              {
                label: Date,
                name: Date,
                widget: datetime,
                dateFormat: "MMMM YYYY",
              },
              { label: Location, name: location, widget: string },
            ],
        }
      - {
          label: Rating,
          required: false,
          name: rating,
          widget: list,
          fields:
            [
              {
                label: Rating,
                name: rating,
                widget: number,
                default: 5,
                valueType: "int",
                min: 1,
                max: 5,
                step: 1,
              },
              { label: Author, name: author, widget: string },
              {
                label: Date,
                name: Date,
                widget: datetime,
                dateFormat: "MMMM YYYY",
              },
              { label: Location, name: location, widget: string },
            ],
        }
      - {
          label: "Main content",
          required: false,
          name: "body",
          widget: "markdown",
        }
      - { label: "Tags", required: false, name: "tags", widget: "list" }
      - {
          label: "Location",
          required: false,
          name: "location",
          widget: map,
          type: Point,
        }
      - {
          label: "Route",
          required: false,
          name: "route",
          widget: map,
          type: LineString,
        }
      - {
          label: "Area Served",
          required: false,
          name: areaServed,
          widget: list,
          fields:
            [
              {
                label: "Area",
                required: false,
                name: "route",
                widget: map,
                type: Polygon,
              },
              { label: Place name, name: place, widget: string },
            ],
        }
